body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #87CEEB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#intro {
  text-align: center;
}

#gameTitle {
  margin-top: 20px;
}

.hidden {
  display: none;
}

#playButton {
  padding: 12px 24px;
  font-size: 18px;
  background-color: gold;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
}

canvas {
  border: 2px solid #000;
  background: #70c5ce;
}