body {
  text-align: center;
  font-family: sans-serif;
  background-color: #87CEEB;
  margin: 0;
  padding: 0;
}

#intro {
  margin-top: 100px;
}

canvas {
  background: #87CEEB;
  display: block;
  margin: 0 auto;
}

#skins {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
  max-width: 300px;
}

.item {
  background: #eee;
  padding: 10px;
  border-radius: 8px;
}