
body {
    margin: 0;
    overflow: hidden;
    background-color: #70c5ce;
    font-family: sans-serif;
    text-align: center;
}

#intro {
    position: absolute;
    width: 100%;
    top: 30%;
    color: white;
}

#gameCanvas {
    display: none;
    background: url('background.png') no-repeat center center;
    background-size: cover;
}
